 /* Bordered form */
form .login{
  border: 3px solid #f1f1f1;
}

#form-center{
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.acepbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.botones{
    display: inline-flex;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 
body{
    background-color: lavender;
}
.row{
    margin: 10px;
}
#demo{
    height: 300px;
}
#twitter{
    height:300px;
    width: 90%;
}

.form-group{
    display: flex;
}

label{
    width: 15em;
    margin-right: -8em;
}

#form-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-item{
    height: 300px;
}
.carousel-item h3{
    color: lightgreen;
    -webkit-text-stroke: 1px black;
}
img#publicacion{
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-left: -10px;
}
img#publicacion p{
    width: 50px;
}

div#buscar{
    margin-left: 20px;
    margin-bottom: 20px;
}

#nav-login{
    display: flex;
    justify-content: flex-end;
}
#img-login{
    float: left;
    height: 35px;
}

#logo{
    height: 60px;
}